---
import Tabs from '../Tabs/index.astro';
import TabButton from '../Tabs/TabButton/index.astro';
import TabPanel from '../Tabs/TabPanel/index.astro';
import Heading from '../Heading/index.astro';

import Products from './Products/index.astro';

import { _getProducts } from './_getProducts';

const products = await _getProducts();

console.log(products);
---

<section id='menu' class='container'>
  <Heading
    title='Make your order right now!'
    subtitle='Delivery in up to 30 minutes'
  />

  <Tabs>
    <Fragment slot='buttons'>
      <TabButton id='burguers' label='catalog of burguers' isActive>
        Burguers
      </TabButton>
      <TabButton id='drinks' label='catalog of drinks'>Drinks</TabButton>
      <TabButton id='deserts' label='catalog of deserts'>Deserts</TabButton>
    </Fragment>

    <Fragment slot='panels'>
      <TabPanel id='burguers' label='catalog of burguers'>
        <Products items={products.burguers} />
      </TabPanel>
      <TabPanel id='drinks' label='catalog of drinks'>
        <Products items={products.drinks} />
      </TabPanel>
      <TabPanel id='deserts' label='catalog of deserts'>
        <Products items={products.deserts} />
      </TabPanel>
    </Fragment>
  </Tabs>
</section>
