---
import Input from '../../Input/index.astro';
import TextArea from '../../TextArea/index.astro';
import { Button } from '../../Button';
---

<form class='rounded-lg shadow-lg p-6'>
  <fieldset class='flex flex-col gap-6'>
    <legend class='text-orange-700 text-xl text-center uppercase font-semibold'
      >Contact us</legend
    >
    <Input id='name' label='Name' placeholder='John Petros da Silva' />
    <Input id='phone' label='Phone' placeholder='(xxx) xxx-xxx' />
    <Input id='email' label='Email' placeholder='johnpetros@email.com' />
    <TextArea
      id='message'
      name='message'
      placeholder='I want the biggest burguer dude.'
    />
  </fieldset>
  <Button className='mx-auto mt-6 px-12'>Enviar</Button>
</form>
