---
import { Image } from 'astro:assets';
import { ROUTES } from '../../utils/constants/routes';
import LogoImage from '../../assets/images/logo.png';

type Props = {
  size: number;
};

const { size } = Astro.props;
---

<a href={ROUTES.home}>
  <Image
    class='logo'
    src={LogoImage}
    width={size}
    height={size}
    alt="John's Burguer"
  />
</a>

<style>
  .logo {
    border-radius: 50%;
    object-fit: cover;
  }
</style>
