---
type Props = {
  title: string;
  subtitle: string;
};

const { title, subtitle } = Astro.props;
---

<div class='flex flex-col items-center space-y-3 text-center'>
  <h2 class='text-4xl'>{title}</h2>
  <span class='block h-[2px] w-72 rounded-md bg-amber-600'></span>
  <h3 class='font-cursive text-2xl font-bold text-amber-600'>
    {subtitle}
  </h3>
</div>
