---
import type { Product } from '../../../@types/Product';
import ProductCard from './ProductCard/index.astro';

type Props = {
  items: Product[];
};

const { items } = Astro.props;
---

<div
  class='grid grid-cols-1 md:grid-cols-3 gap-3 rounded-md'
>
  {items.map((item) => <ProductCard product={item} />)}
</div>
