---
import Logo from '../Logo/index.astro';
import { NavBar } from './Navbar';

type Props = {
  isHomePage?: boolean;
};

const { isHomePage = false } = Astro.props;
---

<header class='w-full min-h-[70px] bg-orange-700 py-2'>
  <div class='container flex items-center justify-between'>
    <Logo size={52} loadingMode='eager' />

    {isHomePage && <NavBar client:load />}
  </div>
</header>
