---
import List from './List/index.astro';
import Item from './List/Item/index.astro';
import Logo from '../Logo/index.astro';

import { Icon } from '../Icon';

import { NAV_LINKS } from '../../utils/constants/nav-links';

type Props = {
  isHomePage?: boolean;
};

const { isHomePage = false } = Astro.props;
---

<footer class='mt-24 bg-orange-700'>
  <div
    class='container flex w-full flex-col items-center justify-items-end gap-4 py-6 sm:grid sm:grid-cols-2 sm:items-start md:grid-cols-3 md:gap-0 lg:grid-cols-4'
  >
    <div class='justify-self-start'>
      <Logo size={120} loadingMode='lazy' />
    </div>
    <div class='justify-self-start lg:justify-self-auto'>
      <List title='Contact us'>
        <Item>
          <>
            <Icon value='phone' size={16} />
            (34) 3333-3333
          </>
        </Item>
        <Item>
          <>
            <Icon value='whatsapp' size={16} />
            (34) 9 3333-3333
          </>,
        </Item>
        <Item>
          <>
            <Icon value='mail' size={16} />
            sac@johnsburguer.com
          </>,
        </Item>
      </List>
    </div>
    {
      isHomePage && (
        <div class='justify-self-start lg:justify-self-auto'>
          <List title='What are you looking for?'>
            {NAV_LINKS.map(navLink => (
              <Item>
                <a href={navLink.href}>{navLink.title}</a>
              </Item>
            ))}
          </List>
        </div>
      )
    }
    <div class='justify-self-start lg:justify-self-auto'>
      <List title='Our social media' direction='row'>
        <Item>
          <div class='grid place-content-center rounded-full bg-zinc-900 p-2'>
            <Icon value='whatsapp' size={20} />
          </div>
        </Item>
        <Item>
          <a
            href='https://www.instagram.com/gvanrossum/'
            class='grid place-content-center rounded-full bg-zinc-900 p-2'
            aria-label="instagram"
          >
            <Icon value='instagram' size={20} />
          </a>
        </Item>
        <Item>
          <a
            href='https://www.facebook.com/share/TxSRAK4e6jU2b8qW/?mibextid=qi2Omg'
            class='grid place-content-center rounded-full bg-zinc-900 p-2'
            aria-label="facebook"
          >
            <Icon value='facebook' size={20} />
          </a>
        </Item>
      </List>
    </div>
  </div>
</footer>
