---
import { twMerge } from 'tailwind-merge';

type Props = {
  id: string;
  label: string;
  isActive?: boolean;
};

const { id, isActive = false } = Astro.props;
---

<li class='me-2'>
  <button
    type='button'
    class={twMerge(
      'hs-tab-active:font-semibold rounded-md border-2 border-gray-500 hs-tab-active:border-orange-500 hs-tab-active:bg-orange-500 hs-tab-active:text-gray-50 font-semibold py-2 px-3 inline-flex items-center whitespace-nowrap text-gray-500 hover:text-orange-500 focus:outline-none focus:text-orange-500 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue uppercase',
      isActive ? 'active' : '',
    )}
    id={`${id}-tab`}
    data-hs-tab={`#${id}-panel`}
    aria-controls={`${id}-panel`}
    role='tab'
  >
    <slot />
  </button>
</li>
